<!-- navigation panel -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Nawigacja</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Carpooling</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right" ng-controller="AuthController">
                <li ng-if="isAuthorize()">
                    <a href="#/settings">Settings</a>
                </li>
                <li>
                    <login/>
                </li>
                <form class="navbar-form navbar-right">
                <li ng-if="isNotAuthorize()">
                    <button class="btn btn-primary btn-success" ng-click="openRegister('lg')">Register</button>
                </li>
                <li ng-if="isAuthorize()">
                    <button type="button" class="btn btn-primary btn-success" ng-click="logout('/')">Log out</button>
                </li>
                </form>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>