<div id="transits" ng-init="getMyTransit()">
    <div>You planned {{transits.length}} transits.</div>
    <button id="showArchivedButton" ng-click="filters.archived = true" name="showArchivedButton" class="btn btn-success">Show only archived transits</button>
    <button id="showAllButton" ng-click="filters = {}" name="showAllButton" class="btn btn-success">Show all transits</button>
    <button id="showActualButton" ng-click="filters.startDate " name="showActualButton" class="btn btn-success">Show actual transits</button>
    <div class="transit" ng-repeat="transit in transits | filter:filters" ui-sref="transit.details({id:transit.id})">
        <div class="transit-info">
            <div class="transit-route">
                <label>Route:</label>
                {{transit.route.startCity.cityName}}
                <span class="transit-car"/>
                {{transit.route.endCity.cityName}}
            </div>
            <div><label>Date:</label> {{transit.startDate}}</div>
            <div><label>Cost:</label> {{transit.cost}}</div>
            <div><label>Role:</label> {{getRole(transit)}}</div>
        </div>
        <div class="transit-remarks">
            <span class="transit-archived" ng-show="transit.archived"></span>
        </div>
    </div>
</div>