<form class="form-horizontal" ng-init="getTransitDetails()">
    <fieldset>

        <!-- Form Name -->
        <legend>Transit</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="startCity">Start City</label>
            <div class="col-md-5">
                <div id="startCity" name="startCity">{{currentTransit.route.startCity.cityName}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="endCity">End City</label>
            <div class="col-md-5">
                <div id="endCity" name="endCity">{{currentTransit.route.endCity.cityName}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="startDate">Date</label>
            <div class="col-md-5">
                <div id="startDate" name="startDate">{{currentTransit.startDate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="driver">Driver</label>
            <div class="col-md-5">
                <a id="driver" name="driver" ui-sref="user.details({id:currentTransit.driver.id})">{{currentTransit.driver.firstName}} {{currentTransit.driver.lastName}}</a>
            </div>
        </div>

        <div class="form-group" ng-if="currentTransit.passengers.length > 0">
            <label class="col-md-4 control-label" for="passengers">Passengers</label>
            <div class="col-md-5">
                <div id="passengers" name="passengers" ng-repeat="passenger in currentTransit.passengers">
                    <div>{{passenger.firstName}} {{passenger.lastName}}</div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="currentTransit.passengers.length === 0">
            <label class="col-md-4 control-label" for="passengers">Passengers</label>
            <div class="col-md-5">
                <div id="no-passengers" name="passengers">
                    No passengers to display
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button id="deleteButton" ng-click="deleteTransit(currentTransit)" name="deleteButton" class="btn btn-success">Delete</button>
                <button id="archiveButton" ng-click="archiveTransit(currentTransit)" name="archiveButton" class="btn btn-success" ng-hide="currentTransit.archived">Archive</button>
                <button id="redoButton" ui-sref="transit.redo({id:currentTransit.id})" name="redoButton" class="btn btn-success" ng-show="currentTransit.archived" >Redo</button>
                <button id="editButton" ui-sref="transit.edit({id:currentTransit.id})" name="editButton" class="btn btn-success">Edit</button>
                <button id="reserveButton" ng-click="reserveTransit(currentTransit)" name="reserveButton" class="btn btn-success">Reserve</button>
            </div>
        </div>
    </fieldset>
</form>
