<form class="form-horizontal" name="createForm">
    <fieldset>

        <!-- Form Name -->
        <legend>Create new transit</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="startCity">Start City</label>
            <div class="col-md-5">
                <input id="startCity" ng-model="transit.startCity" name="startCity" type="text" placeholder="Start City" class="form-control input-md" required="">
                <span class="help-block">Search place, where you will start your trip</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="endCity">End City</label>
            <div class="col-md-5">
                <input id="endCity" name="endCity" ng-model="transit.endCity" type="text" placeholder="End City" class="form-control input-md" required="">
                <span class="help-block">Search place, where you will end your trip</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="date">Date</label>
            <div class="col-md-5">
                <input id="date" ng-model="transit.date" name="date" type="text" placeholder="Date" class="form-control input-md" required="">
                <span class="help-block">Start date of trip (format: dd-MM-yyyy HH:mm, eg. 11-02-2015 12:10)</span>
            </div>
        </div>

        <!--

        <div class="form-group">
            <label class="col-md-4 control-label" for="date">Date</label>
            <div class="col-md-4">
                <input id="date" name="date"  type="text" class="form-control input-md" datetime-picker="dd-MM-yyyy HH:mm" data-datetimepicker-config="{ dateFormat: 'dd-MM-yyyy HH:mm'}" ng-model="transit.date" is-open="isOpen" required=""/>
            </div>
            <span class="input-group-btn col-md-1">
                <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
            </span>
        </div>

        {{transit.date}}

        -->

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cost">Cost</label>
            <div class="col-md-5">
                <input id="cost" ng-model="transit.cost" name="date" type="text" placeholder="text" class="form-control input-md">
                <span class="help-block"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="createButton"></label>
            <div class="col-md-4">
                <button ng-disabled="createForm.$invalid" id="createButton" ng-click="createTransit(transit)"  name="createButton" class="btn btn-success">Create</button>
            </div>
        </div>
    </fieldset>
</form>
