/* general styles */
html, body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0 !important;
}

.navbar {
    position: relative;
    margin-bottom: 0 !important;
}

/* padded section */
.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#test1 {
    background: url(https://carclub.easycar.com/images/v2-photos/young-couple-in-car-home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#test1 .overlay {
    padding-top: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 700px;
    color: #fff;
}

#about {
}

#services {
    background-color: #87D6B4;
    color: #ffffff;
}

#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

footer {
    padding: 20px 0;
}

footer .glyphicon {
    color: #333333;
    font-size: 60px;
}

footer .glyphicon:hover {
    color: #309F8B;
}

.form-horizontal {
    margin: 1em;
}

.help-block {
    font-size: 12px;
    font-style: italic;
}

.btn-cancel {
    text-decoration: none;
    color: #5cb85c;
}

.btn-cancel:hover {
    text-decoration: none;
    color: #449d44;
    cursor: pointer;
}

.required-field:after {
    content: "*";
    color: red;
}

p {
    padding: 15px;
}

input.ng-dirty.ng-invalid {
    border-color: red;
}

input.ng-dirty.ng-valid {
    border-color: green;
}

