<form action="" class="form-horizontal" dropzone="" id="dropzone" name="editavatar" role="form">
    <fieldset>
        <legend>Edytuj awatar</legend>
        <p class="bg-info">Uwaga: Maksymalna wielkość niestandardowych awatara wynosi 150 x 150 pikseli lub 300.0 KB.
            Awatary większe niż 150x150 pikseli zostanią zmniejszone i mogą stracić na jakości .</p>
        <div class="dz-default dz-message dropzone"></div>

        <div class="form-group">
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="uploadFile()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Załaduj plik</span>
                </button>
                <button class="btn btn-danger" ng-click="reset()">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span>Zresetuj</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>

<div ng-hide="!alertMessage" ng-class="alertMessageClass" role="alert">{{alertMessage}}</div>

<script type="text/javascript">
    Dropzone.autoDiscover = false;
</script>