<form class="navbar-form navbar-right" role="form" ng-controller="AuthController">
    <section ng-if="isNotAuthorize()">
        <div class="form-group">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password">
            </div>
        </div>
        <a href="#" class="btn btn-primary btn-success" ng-click="login(username, password)"> Log In</a>
    </section>
</form>